name: CI

on:
  push:
    branches:
      - master

jobs:
  build-docs:
    runs-on: ubuntu-latest
    name: Build Docs

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: npm

      - run: npm ci
      - run: npm run build:docs
      - uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs

  deploy-docs:
    runs-on: ubuntu-latest
    name: Deploy Docs

    permissions:
      pages: write
      id-token: write

    needs: build-docs

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
